body {
  background-color: #b4ff9f;
  text-align: center;
  margin: 0;
  font-family: "Merriweather", serif;
  color: rgba(0, 0, 0, 0.719);
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 400px;
  font-family: "Kite One", sans-serif;
  font-size: 1rem;
}
.nature-img {
  position: absolute;
  margin: 90px auto;
  left: 120px;
  top: 2px;
  width: 70%;
  height: 80%;
}
.name {
  font-size: 5rem;
  font-family: "Sacramento", cursive;
  margin-top: 0px;
  padding: 0;
}

img {
  width: 250px;
}

.tree-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  margin: 0;
}

.top-container {
  position: relative;
  width: 400px;
  padding: 200px;
  margin: 50px auto;
}

.pic {
  width: 250px;
  margin-bottom: 30px;
}

.code-img {
  width: 200px;
  float: left;
  margin-right: 50px;
}

.pharma {
  width: 200px;
  margin-left: 50px;
  float: right;
}
p {
  width: 700px;
  margin: 50px auto;
  line-height: 2;
}

.skill-row {
  width: 600px;
  text-align: left;
  margin: 40px auto;
}

h3 {
  font-size: 1.6rem;
}
h2 {
  font-size: 2rem;
}

hr {
  border: dotted 7px;
  border-bottom: none;
  width: 30%;
  margin: 50px auto;
}

.btn {
  background: #69aad6;
  background-image: -webkit-linear-gradient(top, #69aad6, #18567d);
  background-image: -moz-linear-gradient(top, #69aad6, #18567d);
  background-image: -ms-linear-gradient(top, #69aad6, #18567d);
  background-image: -o-linear-gradient(top, #69aad6, #18567d);
  background-image: linear-gradient(to bottom, #69aad6, #18567d);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #00ff66;
  background-image: -webkit-linear-gradient(top, #00ff66, #3da608);
  background-image: -moz-linear-gradient(top, #00ff66, #3da608);
  background-image: -ms-linear-gradient(top, #00ff66, #3da608);
  background-image: -o-linear-gradient(top, #00ff66, #3da608);
  background-image: linear-gradient(to bottom, #00ff66, #3da608);
  text-decoration: none;
}

.close {
  font-size: 1.2rem;
}

.bottom-container {
  background-color: #00ff66;
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding: 50px 0 10px 0;
}

.footer {
  font-size: 0.8rem;
}

a {
  color: #2f8106;
  text-decoration: none;
  margin: 30px;
}
a:hover {
  color: aliceblue;
}

.Last {
  margin: 0px auto 70px;
}
